.home-page {


    &__presentation{
        font-weight: 1.5rem;
        color: red;
        z-index: 10;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-weight: 700;
        text-shadow: 2px 2px $color-black;
     
    }

    .warrior {
        position: absolute;
        max-height: 68rem;
        height: 100%;
        width: auto;
        z-index: 3;
        transition: all 0.3s ease-in;
    }

    .warrior.magician {
        left: 13%;
        bottom: -20%;
    }

    .warrior.sentinel {
        left: 75%;
        bottom: -25%
    }

    .warrior.knight {
        left: 0;
        bottom: -20%;
        max-height: 75rem;

    }

    .warrior.pirate{
        left: 47%;
        bottom: -20%;
        
    }


    .warrior:hover {
        z-index: 5;
        transform: scale(1.05);
        filter: none;

    }

    &__btn-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 30%;
        left: 50%;
        z-index: 4;
        transform: translate(-50%, -50%);


        button{
            margin: 0 1rem;
            padding: 1rem 1rem;
            width: 25rem;
            font-size: 1.5rem;
            font-weight: bolder;
            color: $color-bloody-red;
            background-color: $color-grey;
            opacity: 0.8;
            border-radius: 1rem;
            border: 3px solid $color-black;
            text-transform: uppercase;
            transition: transform 0.2s ease-in;
            
            &:hover{
                transform: scale(1.1);
            }
            
        }


    }

    &__container {
        position: relative;
        max-width: 100vw;
        max-height: 100vh;
        overflow: hidden;


        img {
            object-position: top center;
            filter: grayscale(70%);
        }

    }

}