header{
    margin-bottom: 5rem;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;

    .left{
      

        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            
        }

        button{
            width: 30%;
        }
        
    }

    .right{

        display: flex;
            justify-content: center;
            align-items: center;
            
        .rignt-wraper{
           
            max-width: 20rem;

            button{
                padding: 0.5rem;
                margin-top: 5rem;
            }
            
        }
        
    }

    
}