.c-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    padding: 0rem 2rem;
    border-bottom: 3px solid $color-bloody-red;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    


    &__logo {
        font-size: 5rem;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        li {
            margin-left: 2rem;
        }

    }


}